{erl_opts, [debug_info]}.
{deps, [
  {jsone, "1.7.0"},
  {cowboy, "2.9.0"},
  {kuberlnetes, {git, "https://github.com/fridayy/kuberlnetes",
                      {ref, "5eb7d72cef0d5254df9537dde2ff22eb972187ec"
                      }}},
  {prometheus, "4.10.0"},
  {prometheus_cowboy, "0.1.8"}
]}.

{shell, [
  {config, "config/shell.config"},
  {apps, [aksnth]}
]}.

%% plugins
{plugins, [
  {gradualizer, {git, "git@github.com:josefs/Gradualizer.git", {branch, "master"}}}
]}.
{project_plugins, [erlfmt]}.
{erlfmt, [
  write,
  {files, "apps/*/{src,include,test}/*.{hrl,erl}"}
]}.

{relx, [
  {release, {aksnth, "0.1.0"}, [
    aksnth,
    sasl
  ]},

  {mode, dev},
  {sys_config_src, "./config/sys.config.src"},
  {vm_args, "./config/vm.args"},
  {extended_start_script, true}
]}.

{profiles, [
  {prod, [
    {relx,
      [
        {mode, prod}
      ]}
  ]},
  {test, [
    {deps, [
      {
        meck, "0.9.2"
      }
    ]}
  ]}
]}.
