[
  %% aksnth config
  {aksnth, [
    {azure_metadata_service_url, "http://169.254.169.254"},
    {poll_interval, "1000"},
    {node_name, "SOME_NODE"},
    {namespace, "SOME_NAMESPACE"},
    {pod_name, "SOME_POD"},
    {actions, [
    ]},
    {metadata_module, aksnth_metadata_mock}
  ]},
  %% kernel config
  {kernel,
    %% logging
    [
      {logger_level, info},
      {logger,
        [{handler, default, logger_std_h,
          #{formatter => {logger_formatter, #{single_line => true}}}}
        ]}]}
].
